liquidprompt.bak/CONTRIBUTING.md
liquidprompt.bak/README.md
liquidprompt.bak/demo.png
liquidprompt.bak/example.bashrc
liquidprompt.bak/liquid.ps1
liquidprompt.bak/liquid.theme
liquidprompt.bak/liquidprompt
liquidprompt.bak/liquidprompt.plugin.zsh
liquidprompt.bak/test.sh
liquidprompt.zip
geek_scripts/.DS_Store
geek_scripts/.latest_backup.bash.txt
geek_scripts/.newmain.bash.txt
.DS_Store
log.csv
*.bak
